_build
cover
deps
doc
tmp

erl_crash.dump
*.ez

/extensions/vscode/node_modules/
/extensions/vscode/out/
/extensions/vscode/refactorex/
/extensions/vscode/refactorex_lsp/
/extensions/vscode/**/*.vsix
